include CHANGELOG.md
include README.rst
include README.md
include LICENSE
recursive-include daapserver *.pyx *.pxd *.py
recursive-exclude daapserver *.c *.so
recursive-include tests *.py
recursive-include examples *.py
recursive-include utils *.py
recursive-include docs *.md
